<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ML1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,1,3,2,2</string>
		<key>delay</key>
		<real>0.15</real>
		<key>filenamePrefix</key>
		<string>OL</string>
	</dict>
	<key>MR1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,1,3,2,2</string>
		<key>delay</key>
		<real>0.15</real>
		<key>filenamePrefix</key>
		<string>OR</string>
	</dict>
	<key>MF1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>OF</string>
	</dict>
	<key>MB1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>OB</string>
	</dict>
	<key>MLD1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>OLD</string>
	</dict>
	<key>MRD1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>ORD</string>
	</dict>
	<key>MBLD1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>OBLD</string>
	</dict>
	<key>MBRD1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>OBRD</string>
	</dict>
</dict>
</plist>
