<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MC1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player1C</string>
	</dict>
	<key>MC2</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player2C</string>
	</dict>
	<key>MC3</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player3C</string>
	</dict>
	<key>ML1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player1L</string>
	</dict>
	<key>MF1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player1F</string>
	</dict>
	<key>MR1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player1R</string>
	</dict>
	<key>MB1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player1B</string>
	</dict>
	<key>MLD1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player1LD</string>
	</dict>
	<key>MRD1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player1RD</string>
	</dict>
	<key>MBLD1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player1BLD</string>
	</dict>
	<key>MBRD1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player1BRD</string>
	</dict>
	<key>ML2</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player2L</string>
	</dict>
	<key>MR2</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player2R</string>
	</dict>
	<key>MLD2</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player2LD</string>
	</dict>
	<key>MRD2</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player2RD</string>
	</dict>
	<key>MBLD2</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player2BLD</string>
	</dict>
	<key>MBRD2</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player2BRD</string>
	</dict>
	<key>ML3</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player3L</string>
	</dict>
	<key>MR3</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player3R</string>
	</dict>
	<key>MLD3</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player3LD</string>
	</dict>
	<key>MRD3</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player3RD</string>
	</dict>
	<key>MBLD3</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player3BLD</string>
	</dict>
	<key>MBRD3</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player3BRD</string>
	</dict>
	<key>MF2</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player2F</string>
	</dict>
	<key>MF3</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player3F</string>
	</dict>
	<key>MB2</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player2B</string>
	</dict>
	<key>MB3</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>player3B</string>
	</dict>
</dict>
</plist>
